@for $i from 1 through 4 {
    .display-#{$i} {
        font-family: $display-font-family;
        letter-spacing: $display-letter-spacing;
    }
}

.custom-select-lg {
    line-height: $custom-select-line-height-lg;
}

.custom-select-sm {
    line-height: $custom-select-line-height-sm;
}

.font-size-4xl {
    font-size: $font-size-4xl;
    line-height: $line-height-4xl;
}

.font-size-3xl {
    font-size: $font-size-3xl;
    line-height: $line-height-3xl;
}

.font-size-2xl {
    font-size: $font-size-2xl;
    line-height: $line-height-2xl;
}

.font-size-xl {
    font-size: $font-size-xl;
    line-height: $line-height-xl;
}

.font-size-lg {
    font-size: $font-size-lg;
}

.font-size-sm {
    font-size: $font-size-sm;
}

.font-size-xs {
    font-size: $font-size-xs;
}

.font-weight-medium {
    font-weight: 600;
}

.tracking-tight {
    letter-spacing: $tracking-tight;
}

.text-white-75 {
    color: rgba($white, 0.75);
}

.text-gray-dark {
    color: $gray-dark;
}

.text-muted-dark {
    color: $gray-700;
}

/* clears the 'X' from Internet Explorer */
input[type="search"]::-ms-clear,
input[type="search"]::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}
