.form-text {
    margin-bottom: $label-margin-bottom;
}

.form-text-label {
    margin-bottom: 0.1875rem;
}

.form-divider {
    margin-bottom: 2.25rem;
    margin-top: 1.5rem;
}

.form-heading-auth,
.form-sub-heading-auth {
    text-align: center;
}

.form-heading-auth {
    margin-bottom: 0.75rem;
}

.form-sub-heading-auth {
    margin-bottom: 2.25rem;
}

.input-group-overlay {
    position: relative;
    width: 100%;

    .input-group-prepend-overlay {
        display: flex;
        position: absolute;
        top: 0;
        height: 100%;

        .input-group-text {
            border: 0;
            background-color: transparent;
            padding-right: 0;
        }
    }

    .prepended-form-control {
        padding-left: 3rem;
    }
}
