.progress {
    &.progress-sm {
        height: 0.25rem;
    }

    .progress-bar {
        &:last-child {
            border-top-right-radius: 12.5rem;
            border-bottom-right-radius: 12.5rem;
        }

        &:first-child {
            border-top-left-radius: 12.5rem;
            border-bottom-left-radius: 12.5rem;
        }
    }
}
