.navbar {
    background-color: $navbar-bg-color;
    border: none;
    border-radius: 0;
    box-shadow: 0 4px 18px 0 rgba($black, 0.12), 0 7px 10px -5px rgba($black, 0.15);
    color: $navbar-font-color;
    padding: $navbar-transparent-link-padding-sm 0;

    &.fixed-top {
        height: $navbar-height;

        + * {
            margin-top: $navbar-height;
        }
    }

    .navbar-brand {
        color: inherit;
        padding: $navbar-transparent-link-padding-sm 0;

        &:hover,
        &:focus {
            opacity: $navbar-link-hover-opacity;
        }
    }

    @include media-breakpoint-up(md) {
        .navbar-nav {
            align-items: center;
        }
    }

    @include media-breakpoint-down(sm) {
        .navbar-brand {
            padding: $navbar-transparent-link-padding-sm $navbar-gutter-padding;
        }

        .navbar-toggler {
            margin-right: $navbar-gutter-padding;
        }

        .navbar-collapse {
            border-top: 1px solid $gray-200;
            margin-top: $navbar-transparent-link-padding-sm;

            .nav-item:not(:last-of-type) {
                border-bottom: 1px solid $gray-200;
            }
        }
    }

    .navbar-nav .nav-item .nav-link {
        color: inherit;
        padding: $navbar-transparent-link-padding-sm $navbar-transparent-link-padding;

        &:hover,
        &:focus {
            opacity: $navbar-link-hover-opacity;
        }
    }

    .navbar-toggler {
        color: inherit;

        &:hover,
        &:focus {
            opacity: $navbar-link-hover-opacity;
        }
    }

    &.navbar-color-on-scroll {
        transition: all 0.15s ease 0s;
    }

    &.navbar-transparent {
        background-color: transparent;
        box-shadow: none;
        color: $navbar-transparent-font-color;
        padding-top: $navbar-transparent-padding-top;

        @include media-breakpoint-down(sm) {
            .navbar-collapse {
                background-color: $navbar-transparent-collapse-bg-color;
                box-shadow: 0 4px 18px 0 rgba($black, 0.12), 0 7px 10px -5px rgba($black, 0.15);
                color: $navbar-transparent-collapse-font-color;
                margin-top: $navbar-transparent-padding-top;

                .nav-item:not(:last-of-type) {
                    border-bottom: 1px solid $gray-200;
                }
            }
        }

        .navbar-nav .nav-item .nav-link {
            padding: $navbar-transparent-link-padding;
        }
    }
}
